@model CapitolFarmsProject.Models.Horse

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HorseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt>
            Feed Details
        </dt>
        <dd>
            <ul>
                @foreach (var horsegrain in Model.HorseGrains)
                {
                    <li>
                    @Html.DisplayFor(model => horsegrain.Amount)
                    @Html.DisplayFor(model => horsegrain.Grain.GrainName)
                    <a asp-controller="HorseGrain" asp-action="Edit" asp-route-id="@horsegrain.HorseGrainId">Edit</a>
                    <a asp-controller="HorseGrain" asp-action="Delete" asp-route-id="@horsegrain.HorseGrainId">Delete</a>
                    </li>
                }
            </ul>
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HorseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
