@model IEnumerable<CapitolFarmsProject.Models.Horse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Horse" asp-action="Index">
                @Html.DisplayNameFor(model => model.HorseName)
                </a>
            </th>
            <th> 
                <a asp-controller="Horse" asp-action="IndexByLocation">
                @Html.DisplayNameFor(model => model.Location)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HorseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HorseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HorseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
