@model IEnumerable<IGrouping<int, CapitolFarmsProject.Models.HorseGrain>>



<h2>Feed Report</h2>
<div class="btn-group" role="group">
  <a class="btn btn-default @ViewData["Combined Button"]" role="button" asp-action="Reports">Combined Report</a>
  <a class="btn btn-default @ViewData["AM Button"]" role="button" asp-action="AMReport">AM Report</a>
  <a class="btn btn-default @ViewData["PM Button"]" role="button" asp-action="PMReport">PM Report</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
               @*@Html.DisplayNameFor(model => model.Horse)*@
               Horse
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Grain) *@
               Grain
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.AMReport)*@
               AM Report
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.PMReport)*@
               PM Report
            </th>
        </tr>
    </thead>
    <tbody>
@{string horse = "";}
@foreach (var group in Model) {
    foreach (var item in group) {
        <tr>
            
            @if (horse != item.Horse.HorseName)
            {
                <td>
                @Html.DisplayFor(modelItem => item.Horse.HorseName)
                </td>
                horse = item.Horse.HorseName;
            } else {
                <td></td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
                @Html.DisplayFor(modelItem => item.Grain.GrainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMReport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PMReport)
            </td>
        </tr>
    }
}
    </tbody>
</table>
