@model IEnumerable<IGrouping<string, CapitolFarmsProject.Models.HorseGrain>>

@{
    ViewData["Title"] = "Index";
}

<h2>Report Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.Horse) *@
               Horse
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Grain) *@
               Grain
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.AMReport)*@
               AM 
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.PMReport)*@
               PM
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var group in Model) {
    foreach (var item in group) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Horse.HorseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
                @Html.DisplayFor(modelItem => item.Grain.GrainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMReport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PMReport)
            </td>
        </tr>
    }
}
    </tbody>
</table>
