@model CapitolFarmsProject.Models.HorseGrain

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Feed Amount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Horse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Horse.HorseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grain.GrainName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AMReport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AMReport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PMReport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PMReport)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HorseGrainId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
